.container-introducao {
    text-align: start;
}

h2 {
    margin-bottom: 20px;
}

ol {
    padding-inline-start: 40px;
    font-size: 1.5rem;
}

li {
    margin-bottom: 20px;
}

li > a {
    color:black;
}

.link {
    text-align: center;
}