.container-geral {
    text-align: start;
    padding: 0px 50px;
}

h1 {
    margin-bottom: 20px;
}

ol {
    font-size: 1.5rem;
}

.negrito {
    font-weight: bold;
}

.sublinhado {
    text-decoration: underline;
}

li {
    margin-bottom: 20px;
}

.link {
    text-align: center;
}