.container-geral {
    text-align: start;
}

h1 {
    margin-bottom: 20px;
}

ol {
    padding-inline-start: 40px;
    font-size: 1.5rem;
}

li {
    margin-bottom: 20px;
}

.link {
    text-align: center;
}