.container-conteudo {
    align-items: center;
}

.justify1 {
    justify-content: space-evenly;
}

.justify2 {
    justify-content: space-around;
}

.justify3 {
    justify-content: space-between;
    margin-bottom: 50px;
}