h4 {
    margin-top: 30px;
}

p {
    margin-bottom: 0px;
}

.container-conteudo {
    flex-wrap: wrap;
    max-width: 500px;
}

.gap {
    gap: 10px 30px;
}

.row {
    row-gap: 50px;
}

.column {
    column-gap: 50px;
}