.container-conteudo {
    order: 0;
    align-items: center;
}

span {
    text-decoration: underline;
}

.destaque {
    font-weight: bold;
    font-size: 1.2rem;
    border: 1px black solid;
}

.order1 {
    order: 1;
}

.order2 {
    order: -1;
}