* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(to bottom, lightyellow, lightpink, lightsteelblue, lightblue);
    background-repeat: no-repeat;
    background-size:cover;
}

.container {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
}

h1 {
    margin: 20px;
    font-size: 4rem;
    text-shadow: 4px 4px 7px #000000ad;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    flex: 1;
    margin: 20px;
    font-size: 4rem;
    padding: 20px;
    box-shadow: 3px 4px 7px 1px #000000ad;
    background-color: #e2c3f385;
}

.link {
    background-color: #76A0B3;
    padding: 10px;
    border-radius: 6px;
    width: 150px;
    margin: auto;
    margin-top: 150px;
    box-shadow: 3px 4px 7px 1px #000000ad;
}

a {
    color: white;
    text-decoration: none;
}